# Screw'd Extra

on init
    export ANDROID_CACHE /cache
    export TERMINFO /system/etc/terminfo
    export TERM linux

on post-fs-data
    mkdir /data/.ssh 0750 root shell

    # Run sysinit
    start sysinit

# adb over network
on property:adb.network.port=*
    setprop service.adb.tcp.port ${adb.network.port}

on property:service.adb.tcp.port=5555
    stop adbd
    start adbd
on property:service.adb.tcp.port=-1
    stop adbd
    start adbd

# sysinit (/system/etc/init.d)
service sysinit /system/bin/sysinit
    user root
    oneshot
    disabled
    
 # init.d (/system/etc/init.d)
service userinit /system/xbin/busybox run-parts /system/etc/init.d
    oneshot
    class late_start
    user root
    group root   
