# Chopped64 initialization script
# Pieces taken from @anarkia1976, @franciscofranco, @frap129, @flar2, and @nathanchance

on boot
   # Wake gestures
   chown root root /sys/android_touch/wake_gestures
   chmod 666 /sys/android_touch/wake_gestures
   write /sys/android_touch/wake_gestures 0
   chmod 644 /sys/android_touch/wake_gestures

   # Disable double tap to wake
   chown root root /sys/android_touch/doubletap2wake
   chmod 666 /sys/android_touch/doubletap2wake
   write /sys/android_touch/doubletap2wake 0
   chmod 644 /sys/android_touch/doubletap2wake

   # Disable sweep to sleep
   chown root root /sys/android_touch/sweep2sleep
   chmod 666 /sys/android_touch/sweep2sleep
   write /sys/android_touch/sweep2sleep 0
   chmod 644 /sys/android_touch/sweep2sleep

   # Enable sweep to wake in up and down
   chown root root /sys/android_touch/sweep2wake
   chmod 666 /sys/android_touch/sweep2wake
   write /sys/android_touch/sweep2wake 12
   chmod 644 /sys/android_touch/sweep2wake

   # Enable camera gesture
   chown root root /sys/android_touch/camera_gesture
   chmod 666 /sys/android_touch/camera_gesture
   write /sys/android_touch/camera_gesture 1
   chmod 644 /sys/android_touch/camera_gesture

on post-fs
   write /dev/cpuset/foreground/cpus 0-7
   write /dev/cpuset/foreground/boost/cpus 0-7
   write /dev/cpuset/background/cpus 0-7
   write /dev/cpuset/system-background/cpus 0-7

on property:sys.boot_completed=1

   # cpuset
   write /dev/cpuset/foreground/cpus 0-2,4-7
   write /dev/cpuset/foreground/boost/cpus 4-7
   write /dev/cpuset/background/cpus 0-2
   write /dev/cpuset/system-background/cpus 0-2

   # I/O scheduler - zen - 512kb
   write /sys/block/mmcblk0/queue/scheduler zen
   write /sys/block/mmcblk0/queue/read_ahead_kb 512
   
   # Little cluster governor - relaxed
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor relaxed
   # Little cluster min - 384 MHz
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 384000
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
   # Little cluster max - 1708 MHz
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1708800
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
   # Big cluster governor - chill
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_governor chill
   # Big cluster min - 633 MHz
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq 633600
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_min_freq
   # Big cluster max - 2054 MHz
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   chmod 0664 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq
   write /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq 2054400
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/scaling_max_freq

   # Settings courtesy of @frap129
   # Little cluster settings
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_ceiling
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_ceiling
   write /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count 10
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_ceiling
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count
   write /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count 5
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/boost_count
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step
   write /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step 6
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/freq_step
   chown system system /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold
   chmod 0644 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold
   write /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold 70
   chmod 0444 /sys/devices/system/cpu/cpu0/cpufreq/relaxed/up_threshold

   # Big cluster settings
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count
   write /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count 10
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/chill/boost_count
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold
   write /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold 50
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspended
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspened
   write /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspended 70
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/chill/down_threshold_suspened
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step
   write /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step 4
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/chill/freq_step
   chown system system /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold
   chmod 0644 /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold
   write /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold 90
   chmod 0444 /sys/devices/system/cpu/cpu4/cpufreq/chill/up_threshold

   # Input boost settings
   write /sys/module/cpu_boost/parameters/input_boost_enabled 1
   write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:672000 2:0 3:0 4:0 5:0 6:0 7:0"
   write /sys/module/cpu_boost/parameters/input_boost_ms 40

   # Core control disabled, msm_thermal enabled
   write /sys/module/msm_thermal/core_control/enabled 0
   write /sys/module/msm_thermal/parameters/enabled Y

   # Lazyplug
   write /sys/module/lazyplug/parameters/lazyplug_active 1

   # Backlight dimmer
   write /sys/module/mdss_fb/parameters/backlight_dimmer 1

   # Tune Adrenoboost
   write /sys/devices/soc.0/fdb00000.qcom,kgsl-3d0/devfreq/fdb00000.qcom,kgsl-3d0/adrenoboost 1

   # Very light LMK profile
   write /sys/module/lowmemorykiller/parameters/minfree "7160,14320,21480,28640,35800,42960"

   # Process reclaim
   write /proc/PID/reclaim all

   #Volume boost
   write /sys/devices/virtual/misc/soundcontrol/volume_boost 20
